.footer {
  border-top: 1px solid var(--gray-70);
}

.footer-inner {
  display: flex;
  gap: var(--space-lg);
  width: var(--page-width);
  margin: 0 auto;
  padding: var(--space-md) var(--space-lg);
}

.footer a {
  color: var(--gray-30);
  font-size: var(--text-sm);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
